/* styles.css */
/* Base Styles for the Website */

/* General Styles */
body {
    background-color: #F4EFE6;
    /* Creamy white, inspired by "Bone" */
    color: #333;
    /* Neutral text color for readability */
    font-family: Arial, sans-serif;
    /* Clean and modern font */
    margin: 0;
    padding: 0;
    /* border: 2px solid rebeccapurple; */
}

/* Links and Buttons */
a {
    color: #005B99;
    /* Marine blue for links */
    text-decoration: none;
}

a:hover {
    color: #003F6F;
    /* Darker marine blue on hover */
}

button {
    background-color: #005B99;
    /* Marine blue */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #003F6F;
    /* Darker marine blue */
}

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #005B99;
    text-align: center;
    /* border: 2px solid rebeccapurple; */
}

/* Images */
img {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
    align-content: center;
}

/* figure {
    border: 2px solid rebeccapurple;
} */

figcaption {
    text-align: center;
}

p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px
}



/* Containers */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.centered {
    display: block;
    align-content: center;
}

.omni-theme {
    background: light-dark(white, black);
    color: light-dark(black, white);
}